@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Makasar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::-moz-selection {
  background-color: white;
  color: black;
}
*::selection {
  background-color: white;
  color: black;
}

body {
  background-color: black;
}

.home {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "logo  productos  giftcard" "logo  nosotros   contactos";
}
.home .home__img {
  gap: 20rem;
  border: groove 5px #7e7c7a;
  border-radius: 2%;
  font-family: "Noto Serif Makasar", serif;
  font-size: 20px;
  text-shadow: 0 0 10px #e58f8f;
  grid-area: logo;
  background-image: url(../Img/Logo.jpg);
  background-color: #443f3f;
  background-blend-mode: color-burn;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home a {
  border: groove 5px #7e7c7a;
  border-radius: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.home .home__productos, .home .home__contacto, .home .home__nosotros, .home .home__giftcard {
  grid-area: productos;
  color: #f5b4b4;
  font-family: "Open Sans", sans-serif;
  text-shadow: 14px 10px 7px #f74141;
  font-size: 20px;
  letter-spacing: 4px;
  background-color: #141414;
  background-image: url(../Img/IMGProductos.png);
  background-position: center;
  background-repeat: no-repeat;
}
.home .home__giftcard {
  grid-area: giftcard;
  background-color: #202020;
  background-image: url(../Img/IMGGiftcard.png);
}
.home .home__nosotros {
  grid-area: nosotros;
  background-color: #2c2b2b;
  background-image: url(../Img/IMGQuienSoy.png);
}
.home .home__contacto {
  grid-area: contactos;
  background-color: #3f3e3e;
  background-image: url(../Img/email.png);
}

.body__productos {
  background-color: #050505;
}

header {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-inline: 4rem;
}
header .titulo__marca {
  display: flex;
  align-items: center;
}
header .titulo__marca .logo {
  font-family: "Noto Serif", serif;
  color: white;
}
header .titulo__marca .logo__simbolo {
  font-size: 1rem;
}
header .titulo__marca .logo__indum {
  font-family: "Open Sans", sans-serif;
  font: caption;
  font-size: 1.8rem;
}
header .titulo__marca .logo__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
header .nav__menu {
  display: flex;
  gap: 3rem;
  margin-bottom: 0rem;
  letter-spacing: 0.2rem;
}
header .nav__menu > li {
  display: flex;
  align-items: center;
  max-width: -moz-max-content;
  max-width: max-content;
}
header .nav__menu > li:hover {
  background-color: #887979;
  box-shadow: 2px 2px 8px white inset;
}
header .nav__menu a {
  text-decoration: none;
  color: #f5b4b4;
  font-family: "Open Sans", sans-serif;
  text-shadow: 1px 1px 1px #f74141;
}
header .nav__menu .active {
  background-color: #887979;
  box-shadow: 2px 2px 8px white inset;
}
header .nav__menu .navbar__item {
  list-style-type: none;
}
header .nav__menu .navbar__item .active {
  background-color: #887979;
  box-shadow: 2px 2px 8px white inset;
}/*# sourceMappingURL=estilo.css.map */