@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Makasar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap");
/* -----------------------------------------------------RESET----------------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::-moz-selection {
  background-color: white;
  color: black;
}
*::selection {
  background-color: white;
  color: black;
}

/* -------------------------------------------------PAGINA INICIAL------------------------------------------------ */
body {
  background-color: black;
}

.home {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "logo  productos  giftcard" "logo  nosotros   contactos";
}
@media screen and (max-width: 480px) {
  .home {
    display: flex;
    flex-direction: column;
    max-height: -moz-max-content;
    max-height: max-content;
    height: 100vh;
  }
}
.home .home__img {
  gap: 20rem;
  border: groove 5px #7e7c7a;
  border-radius: 2%;
  font-family: "Noto Serif Makasar", serif;
  font-size: 20px;
  text-shadow: 0 0 10px #e58f8f;
  grid-area: logo;
  background-image: url(../Img/Logo.jpg);
  background-color: #443f3f;
  background-blend-mode: color-burn;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home .home__img.slide-in-left {
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@media screen and (max-width: 480px) {
  .home .home__img {
    display: flex;
    justify-content: end;
    gap: 0rem;
    flex: 1.5;
    border: solid 1px #7e7c7a;
  }
}
@media screen and (max-width: 480px) and (max-width: 480px) {
  .home .home__img p {
    font-size: 15px;
  }
}
.home a {
  border: groove 5px #7e7c7a;
  border-radius: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.home a:hover {
  transform: translate(-10px);
  transition: 0.6s;
  box-shadow: 5px 5px 20px 5px #c94343;
  border: solid white;
}
@media screen and (max-width: 480px) {
  .home a {
    border: solid 1px black;
    border-radius: 15px;
  }
}
.home .home__productos, .home .home__contacto, .home .home__nosotros, .home .home__giftcard {
  grid-area: productos;
  color: #f5b4b4;
  font-family: "Open Sans", sans-serif;
  text-shadow: 14px 10px 7px #f74141;
  font-size: 20px;
  letter-spacing: 4px;
  background-color: #141414;
  background-image: url(../Img/IMGProductos.png);
  background-position: center;
  background-repeat: no-repeat;
}
.home .home__productos.slide-in-tl, .home .slide-in-tl.home__contacto, .home .slide-in-tl.home__nosotros, .home .slide-in-tl.home__giftcard {
  animation: slide-in-tl 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-tl {
  0% {
    transform: translateY(-1000px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@media screen and (max-width: 480px) {
  .home .home__productos, .home .home__contacto, .home .home__nosotros, .home .home__giftcard {
    flex: 1;
  }
}
.home .home__giftcard {
  grid-area: giftcard;
  background-color: #202020;
  background-image: url(../Img/IMGGiftcard.png);
}
.home .home__giftcard.slide-in-tr {
  animation: slide-in-tr 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-tr {
  0% {
    transform: translateY(-1000px) translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@media screen and (max-width: 480px) {
  .home .home__giftcard {
    flex: 1;
  }
}
.home .home__nosotros {
  grid-area: nosotros;
  background-color: #2c2b2b;
  background-image: url(../Img/IMGQuienSoy.png);
}
.home .home__nosotros.slide-in-bl {
  animation: slide-in-bl 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-bl {
  0% {
    transform: translateY(1000px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@media screen and (max-width: 480px) {
  .home .home__nosotros {
    flex: 1;
  }
}
.home .home__contacto {
  grid-area: contactos;
  background-color: #3f3e3e;
  background-image: url(../Img/email.png);
}
.home .home__contacto.slide-in-br {
  animation: slide-in-br 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-br {
  0% {
    transform: translateY(1000px) translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}
@media screen and (max-width: 480px) {
  .home .home__contacto {
    flex: 1;
  }
}

/* --------------------------------------------BARRA DE NAVEGACION--------------------------------------------- */
.body__productos {
  background-color: #050505;
}

header {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-inline: 4rem;
}
@media screen and (max-width: 480px) {
  header {
    display: grid;
    padding-inline: 3rem;
  }
}
header .titulo__marca {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  header .titulo__marca {
    display: inline;
  }
}
header .titulo__marca .logo {
  font-family: "Noto Serif", serif;
  color: white;
}
@media screen and (max-width: 480px) {
  header .titulo__marca .logo {
    font-size: 3rem;
    font-style: oblique;
  }
}
header .titulo__marca .logo__simbolo {
  font-size: 1rem;
}
header .titulo__marca .logo__indum {
  font-family: "Open Sans", sans-serif;
  font: caption;
  font-size: 1.8rem;
}
@media screen and (max-width: 480px) {
  header .titulo__marca .logo__indum {
    font-size: 2.2rem;
    font-style: oblique;
  }
}
header .titulo__marca .logo__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
header .nav__menu {
  display: flex;
  gap: 3rem;
  margin-bottom: 0rem;
  letter-spacing: 0.2rem;
}
@media screen and (max-width: 480px) {
  header .nav__menu {
    letter-spacing: 0rem;
    padding-inline: 0rem;
    gap: 1rem;
  }
}
header .nav__menu > li {
  display: flex;
  align-items: center;
  max-width: -moz-max-content;
  max-width: max-content;
}
header .nav__menu > li:hover {
  background-color: #887979;
  box-shadow: 2px 2px 8px white inset;
}
header .nav__menu a {
  text-decoration: none;
  color: #f5b4b4;
  font-family: "Open Sans", sans-serif;
  text-shadow: 1px 1px 1px #f74141;
}
header .nav__menu .active {
  background-color: #887979;
  box-shadow: 2px 2px 8px white inset;
}
header .nav__menu .navbar__item {
  list-style-type: none;
}
@media screen and (max-width: 480px) {
  header .nav__menu .navbar__item {
    font-size: 0.8rem;
  }
}
header .nav__menu .navbar__item .active {
  background-color: #887979;
  box-shadow: 2px 2px 8px white inset;
}
@media screen and (max-width: 480px) {
  header .navegacion {
    padding-top: 0.5rem;
  }
}

/* ---------------------------------------------PAGINA PRODUCTOS---------------------------------------------- */
.body__productos {
  background: rgb(32, 36, 32);
  background: radial-gradient(circle, rgb(32, 36, 32) 4%, rgb(107, 81, 81) 47%, rgb(0, 0, 0) 93%);
}

.buzos {
  color: red;
  text-shadow: 10px 0px 50px #ffffff;
  font-family: "Noto Serif", serif;
  font-size: xx-large;
  padding-top: 2rem;
  padding-inline: 15rem;
}
@media screen and (max-width: 480px) {
  .buzos {
    padding-left: 3rem;
    font-size: 1rem;
  }
}

main .card {
  background-color: #802c2c;
  border: 0.05rem solid white;
}
@media screen and (max-width: 480px) {
  main .card {
    width: 13rem;
  }
}
main .card .card-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Noto Serif", serif;
  color: white;
}
@media screen and (max-width: 480px) {
  main .card .card-text {
    font-size: 0.8rem;
  }
}
main .card .card-text1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  color: white;
}
main .card .card-img-top {
  padding: 0.3rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "img1 img2 img3 img4 vermas";
  gap: 0.5rem;
  padding-inline: 1rem;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .cards {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 1fr 0.3fr;
    grid-template-areas: "img1   img2" "img3   img4" "vermas vermas";
    gap: 0.7rem;
    padding-inline: 2rem;
  }
}
.cards .img1 {
  grid-area: img1;
}
@media screen and (max-width: 480px) {
  .cards .img1 {
    grid-area: img1;
    padding: 0rem;
  }
}
.cards .img2 {
  grid-area: img2;
}
@media screen and (max-width: 480px) {
  .cards .img2 {
    grid-area: img2;
    padding: 0rem;
  }
}
.cards .img3 {
  grid-area: img3;
}
@media screen and (max-width: 480px) {
  .cards .img3 {
    grid-area: img3;
    padding: 0rem;
  }
}
.cards .img4 {
  grid-area: img4;
}
@media screen and (max-width: 480px) {
  .cards .img4 {
    grid-area: img4;
    padding: 0rem;
  }
}
@media screen and (max-width: 480px) {
  .cards .button {
    grid-area: vermas;
    display: flex;
  }
}
.cards .button a {
  grid-area: vermas;
  color: red;
  border: 0.5px solid #000000;
  border-radius: 5rem;
  box-shadow: 1px 1px 1px white;
  text-shadow: 2px 1px 1px #000000;
  text-align: center;
  font-family: "Noto Serif", serif;
  padding-inline: 1.5rem;
  text-decoration: none;
}

.remeras {
  display: flex;
  text-align: end;
  justify-content: end;
  color: red;
  text-shadow: 10px 0px 50px #ffffff;
  font-family: "Noto Serif", serif;
  font-size: xx-large;
  padding-top: 5rem;
  padding-inline: 15rem;
}
@media screen and (max-width: 480px) {
  .remeras {
    font-size: 1rem;
    padding: 0.5rem 3rem 0rem 0rem;
  }
}

.cards__remeras {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "vermas img5 img6 img7 img8";
  gap: 0.5rem;
  padding-inline: 1rem;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .cards__remeras {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 1fr 0.3fr;
    grid-template-areas: "img5   img6" "img7   img8" "vermas vermas";
    gap: 0.7rem;
    padding-inline: 2rem;
    max-width: -moz-max-content;
    max-width: max-content;
  }
}
.cards__remeras .img5 {
  grid-area: img5;
}
@media screen and (max-width: 480px) {
  .cards__remeras .img5 {
    grid-area: img5;
    padding: 0rem;
  }
}
.cards__remeras .img6 {
  grid-area: img6;
}
@media screen and (max-width: 480px) {
  .cards__remeras .img6 {
    grid-area: img6;
    padding: 0rem;
  }
}
.cards__remeras .img7 {
  grid-area: img7;
}
@media screen and (max-width: 480px) {
  .cards__remeras .img7 {
    grid-area: img7;
    padding: 0rem;
  }
}
.cards__remeras .img8 {
  grid-area: img8;
}
@media screen and (max-width: 480px) {
  .cards__remeras .img8 {
    grid-area: img8;
    padding: 0rem;
  }
}
.cards__remeras .button__remeras {
  text-align: end;
}
@media screen and (max-width: 480px) {
  .cards__remeras .button__remeras {
    grid-area: vermas;
    display: flex;
  }
}
.cards__remeras .button__remeras a {
  grid-area: vermas;
  color: red;
  height: 2rem;
  border: 0.5px solid #000000;
  border-radius: 5rem;
  box-shadow: 1px 1px 1px white;
  text-shadow: 2px 1px 1px #000000;
  text-align: center;
  font-family: "Noto Serif", serif;
  padding-inline: 1.5rem;
  text-decoration: none;
}

/* ---------------------------------------------------FOOTER-------------------------------------------------- */
.footer-principal {
  margin-top: 0rem;
}
.footer-principal .container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7rem 0rem 5rem 6rem;
}
@media screen and (max-width: 480px) {
  .footer-principal .container {
    margin-inline: 0rem;
  }
}
.footer-principal .container p {
  font-style: oblique;
}
.footer-principal .container .imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 130px;
}
@media screen and (max-width: 480px) {
  .footer-principal .container .imagen {
    margin: 2px 54px;
    margin-inline: 2.5rem;
    width: 4rem;
  }
}
.footer-principal .container .descripcion {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-family: "Open Sans";
}
@media screen and (max-width: 480px) {
  .footer-principal .container .descripcion {
    font-size: 0.5rem;
  }
}

.footer-secundario {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-inline: 0px;
  padding-block: 10px;
}
.footer-secundario .footer-menu {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer-secundario .footer-menu a {
  color: white;
  text-decoration: none;
}
.footer-secundario .redes {
  padding: 0rem;
}
@media screen and (max-width: 480px) {
  .footer-secundario .redes {
    display: flex;
    padding-left: 0rem;
  }
}
.footer-secundario .redes li {
  display: inline-block;
}
@media screen and (max-width: 480px) {
  .footer-secundario .redes li {
    font-size: 1.3rem;
  }
}
.footer-secundario .redes a {
  padding: 10px;
}
.footer-secundario .redes a img {
  justify-content: center;
  width: 25px;
  height: 25px;
}

.footer-pagos {
  padding: 5px;
  width: 50px;
  height: 40px;
  margin-bottom: 50px;
}

/* ---------------------------------------------PAGINA GIFT CARD--------------------------------------------- */
.body__giftcard {
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgb(0, 0, 0) 4%, rgb(32, 36, 32) 47%, rgb(107, 81, 81) 93%);
}

.conteiner__giftcard {
  padding-top: 2rem;
  padding-inline: 5rem;
  margin-top: 2rem;
  margin-left: 15rem;
  margin-right: 15rem;
  border-bottom: 1px solid white;
}
@media screen and (max-width: 480px) {
  .conteiner__giftcard {
    padding: 4rem 0rem 0rem 0rem;
    margin: 2rem 4rem 0rem 4rem;
  }
}
.conteiner__giftcard .titulo__gifcard {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5rem;
  -webkit-text-decoration: underline 1px solid white;
          text-decoration: underline 1px solid white;
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
}
.conteiner__giftcard .titulo__gifcard.text-shadow-pop-right {
  animation: text-shadow-pop-right 3s infinite alternate-reverse forwards;
}
@keyframes text-shadow-pop-right {
  0% {
    text-shadow: 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555;
    transform: translateX(0);
  }
  100% {
    text-shadow: 1px 0 #555, 2px 0 #555, 3px 0 #555, 4px 0 #555, 5px 0 #555, 6px 0 #555, 7px 0 #555, 8px 0 #555;
    transform: translateX(-8px);
  }
}
.conteiner__giftcard .parrafo {
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-family: Geneva;
  letter-spacing: 0.14rem;
  margin-bottom: 5rem;
}

/* ---------------------------------------------PAGINA NOSOTROS---------------------------------------------- */
.body__nosotros {
  background: rgb(157, 87, 87);
  background: linear-gradient(166deg, rgb(157, 87, 87) 0%, rgb(38, 35, 35) 38%, rgb(74, 74, 74) 61%);
}

.conteiner__nosotros {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-inline: 5rem;
  height: 100vh;
}
@media screen and (max-width: 480px) {
  .conteiner__nosotros {
    display: grid;
    padding-inline: 0rem;
  }
}
@media screen and (max-width: 480px) {
  .conteiner__nosotros .img__nosotros {
    width: 40%;
    padding-top: 2rem;
  }
}

.contenido__principal {
  padding: 3rem;
  padding-top: 10rem;
}
@media screen and (max-width: 480px) {
  .contenido__principal {
    padding-top: 0;
  }
}
.contenido__principal .titulo__nosotros {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5rem;
  -webkit-text-decoration: underline 1px solid white;
          text-decoration: underline 1px solid white;
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
}
.contenido__principal .titulo__nosotros.text-shadow-pop-right {
  animation: text-shadow-pop-right 3s infinite alternate-reverse forwards;
}
@keyframes text-shadow-pop-right {
  0% {
    text-shadow: 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555;
    transform: translateX(0);
  }
  100% {
    text-shadow: 1px 0 #555, 2px 0 #555, 3px 0 #555, 4px 0 #555, 5px 0 #555, 6px 0 #555, 7px 0 #555, 8px 0 #555;
    transform: translateX(-8px);
  }
}
@media screen and (max-width: 480px) {
  .contenido__principal {
    font-size: 2rem;
  }
}
.contenido__principal .parrafo__nosotros {
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1.05rem;
  font-family: "Noto Serif", serif;
  margin-bottom: 5rem;
}
@media screen and (max-width: 480px) {
  .contenido__principal .parrafo__nosotros {
    font-size: 0.8rem;
    margin: 0;
  }
}

/* ---------------------------------------------PAGINA CONTACTO---------------------------------------------- */
.body__contacto {
  background: rgb(121, 75, 75);
  background: linear-gradient(83deg, rgb(121, 75, 75) 0%, rgb(45, 42, 42) 55%);
}

.form__contacto {
  display: flex;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .form__contacto {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 5rem;
  }
}
.form__contacto .contact {
  width: 50%;
}
@media screen and (max-width: 480px) {
  .form__contacto .contact {
    width: 70%;
  }
}
.form__contacto .contact .InfoContacto {
  color: white;
  padding: 6rem 5rem;
}
.form__contacto .contact .InfoContacto .text-shadow-pop-right {
  animation: text-shadow-pop-right 3s infinite alternate-reverse forwards;
}
@keyframes text-shadow-pop-right {
  0% {
    text-shadow: 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555;
    transform: translateX(0);
  }
  100% {
    text-shadow: 1px 0 #555, 2px 0 #555, 3px 0 #555, 4px 0 #555, 5px 0 #555, 6px 0 #555, 7px 0 #555, 8px 0 #555;
    transform: translateX(-8px);
  }
}
@media screen and (max-width: 480px) {
  .form__contacto .contact .InfoContacto {
    padding-inline: 0rem;
    padding: 4rem 0rem 1rem 0rem;
  }
}
.form__contacto .contact h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
}
.form__contacto .contact p {
  border-bottom: 1px solid white;
  padding: 0.5rem 0 1rem 0;
  font-family: "Noto Serif Makasar", serif;
  font-weight: 800;
}

.formulario {
  width: 50%;
}
.formulario .InfoForm {
  padding: 6rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.formulario .InfoForm .text-shadow-pop-right {
  animation: text-shadow-pop-right 3s infinite alternate-reverse forwards;
}
@keyframes text-shadow-pop-right {
  0% {
    text-shadow: 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555, 0 0 #555;
    transform: translateX(0);
  }
  100% {
    text-shadow: 1px 0 #555, 2px 0 #555, 3px 0 #555, 4px 0 #555, 5px 0 #555, 6px 0 #555, 7px 0 #555, 8px 0 #555;
    transform: translateX(-8px);
  }
}
@media screen and (max-width: 480px) {
  .formulario .InfoForm {
    padding: 0;
    gap: 0.5rem;
  }
}
.formulario .InfoForm .form-colum {
  border-radius: 0.3rem;
  border: 1px solid black;
  height: 2.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.8rem;
  padding-left: 0.5rem;
}
.formulario h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  color: white;
  text-align: start;
}
@media screen and (max-width: 480px) {
  .formulario h2 {
    font-size: 1rem;
  }
}
.formulario .btn {
  width: -moz-max-content;
  width: max-content;
  background-color: #252424;
  color: white;
  border: 1px solid white;
  font-size: 0.9rem;
}
.formulario .btn:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  text-transform: uppercase;
}/*# sourceMappingURL=estilo.css.map */