@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Makasar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');

/* -----------------------------------------MEDIA QUARIES PAGINA INICIAL----------------------------------------- */

@media screen and (max-width: 480px) {

    .home {
        display: flex;
        flex-direction: column;
        max-height: max-content;
        height: 100vh;
    }
    
    .home a {
        border: solid 1px black;
        border-radius: 15px;
    }

    .home__img p {
        display: flex;
        flex-direction: column;
        font-size: 10px;
    }

    .home__img {
        display: flex;
        justify-content:end;
        gap: 0rem;
        flex: 1.5;  
        border: solid 1px #7e7c7a;      
    }

    .home__productos {
        flex: 1;
    }

    .home__giftcard {
        flex: 1;
    }

    .home__nosotros {
        flex: 1;
    }

    .home__contacto {
        flex: 1;
    }  
}

/* -----------------------------------------MEDIA QUARIES PAGINA PRODUCTOS----------------------------------------- */

@media screen and (max-width: 480px) {

    header {
        display: grid;
        padding-inline: 3rem;
    }

    .titulo__marca {
        display: inline;
    }
    
    
    .navegacion {
        padding-top: .5rem;
    }

    .nav__menu {
        letter-spacing: 0rem;
        padding-inline: 0rem;
        gap: 1rem;
    }

    .navbar__item {
        font-size: 0.80rem;
    }

    .logo {
        font-size: 3rem;        
        font-style: oblique;
    }

    .logo__indum {
        font-size: 2.2rem;
        font-style: oblique;
    }
    
    .buzos {
        padding-left: 3rem;
        font-size: 1rem;
    }

    .cards {
        display: grid;
        grid-template-columns: .5fr 1fr;
        grid-template-rows: 1fr 1fr .3fr;
        grid-template-areas:
        "img1   img2"
        "img3   img4"
        "vermas vermas";
        gap: 0.7rem;
        padding-inline: 2rem;
    }

    .cards .card {
        width: 13rem;
    }

    .card-text {
        font-size: 0.8rem;
    }
    
    .img1 {
        grid-area: img1;
        padding: 0rem;
    }
    
    .img2 {
        grid-area: img2;
        padding: 0rem;
    }
    
    .img3 {
        grid-area: img3;
        padding: 0rem;
    }
    
    .img4 {
        grid-area: img4;
        padding: 0rem;
    }
    
    .button {
        grid-area: vermas;
        display: flex;
    }

    .remeras {
        font-size: 1rem;
        padding: 0.5rem 3rem 0rem 0rem;
    }

    .cards__remeras {
        display: grid;
        grid-template-columns: .5fr 1fr;
        grid-template-rows: 1fr 1fr .3fr;
        grid-template-areas:
        "img5   img6"
        "img7   img8"
        "vermas vermas";
        gap: 0.7rem;
        padding-inline: 2rem;
        max-width: max-content;
    }

    .cards__remeras .card {
        width: 13rem;
    }
    
    .img5 {
        grid-area: img5;
        padding: 0rem;
    }
    
    .img6 {
        grid-area: img6;
        padding: 0rem;
    }
    
    .img7 {
        grid-area: img7;
        padding: 0rem;
    }
    
    .img8 {
        grid-area: img8;
        padding: 0rem;
    }

    .button__remeras {
        grid-area: vermas;
        display: flex;
    }

    li {
        font-size: 1.3rem;
    }

    .container {
        margin-inline: 0rem;
    }

    .imagen {
        margin: 2px 54px;
        margin-inline: 2.5rem;
        width: 4rem;
    }

    .descripcion {
        font-size: .5rem;
    }

    .redes {
        display: flex;
        padding-left: 0rem;
    }
}   

/* -----------------------------------------MEDIA QUARIES PAGINA GIFTCARD----------------------------------------- */

@media screen and (max-width: 480px) {

    .conteiner__giftcard {
        padding: 4rem 0rem 0rem 0rem;
        margin: 2rem 4rem 0rem 4rem;
    }
}

/* -----------------------------------------MEDIA QUARIES PAGINA NOSOTROS----------------------------------------- */

@media screen and (max-width: 480px) {

    .conteiner__nosotros {
        display: grid;
        padding-inline: 0rem;
    }

    .img__nosotros {
        width: 40%;
        padding-top: 2rem;
    }

    .contenido__principal {
        padding-top: 0;
    }

    .titulo__nosotros {
        font-size: 2rem;
    }

    .parrafo__nosotros {
        font-size: .8rem;
        margin: 0;
    }
}

/* -----------------------------------------MEDIA QUARIES PAGINA CONTACTO----------------------------------------- */

@media screen and (max-width: 480px) {

    .form__contacto {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 5rem
    }

    .contact {
        width: 70%;
    }

    .InfoContacto {
        padding-inline: 0rem;
        padding: 4rem 0rem 1rem 0rem;
    }

    .InfoForm {
        padding: 0;
        gap: .5rem;
    }

    .InfoForm h2 {
        font-size: 1rem;
    }
}