/* ---------------------------------------------PAGINA CONTACTO---------------------------------------------- */
.body__contacto {
    background-color: $FondoContacto;
}

.form__contacto {
    display: flex;
    text-align: center;

        @include mobile {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-bottom: 5rem
        }

    .contact {
        width: 50%;

            @include mobile {
                width: 70%;
            }

        .InfoContacto {
            color: $ColorPricipal;
            padding: 6rem 5rem;

            .text-shadow-pop-right{
                -webkit-animation:text-shadow-pop-right 3s infinite alternate-reverse forwards;animation:text-shadow-pop-right 3s infinite alternate-reverse forwards;
            
                @-webkit-keyframes text-shadow-pop-right{0%{text-shadow:0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555;-webkit-transform:translateX(0);transform:translateX(0)}100%{text-shadow:1px 0 #555,2px 0 #555,3px 0 #555,4px 0 #555,5px 0 #555,6px 0 #555,7px 0 #555,8px 0 #555;-webkit-transform:translateX(-8px);transform:translateX(-8px)}}
                @keyframes text-shadow-pop-right{0%{text-shadow:0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555;-webkit-transform:translateX(0);transform:translateX(0)}100%{text-shadow:1px 0 #555,2px 0 #555,3px 0 #555,4px 0 #555,5px 0 #555,6px 0 #555,7px 0 #555,8px 0 #555;-webkit-transform:translateX(-8px);transform:translateX(-8px)}}
                }

                @include mobile {
                    padding-inline: 0rem;
                    padding: 4rem 0rem 1rem 0rem;
                }
        }

        & h2 {
            font-family: $OpenSans;
            font-size: 2.5rem;
        }

        & p {
            border-bottom: 1px solid $ColorPricipal;
            padding: 0.5rem 0 1rem 0;
            font-family: $NotoMakasar;
            font-weight: 800;
        }
    }
}

.formulario {
    width: 50%;

    .InfoForm {
        padding: 6rem 4rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .text-shadow-pop-right{
            -webkit-animation:text-shadow-pop-right 3s infinite alternate-reverse forwards;animation:text-shadow-pop-right 3s infinite alternate-reverse forwards;
        
            @-webkit-keyframes text-shadow-pop-right{0%{text-shadow:0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555;-webkit-transform:translateX(0);transform:translateX(0)}100%{text-shadow:1px 0 #555,2px 0 #555,3px 0 #555,4px 0 #555,5px 0 #555,6px 0 #555,7px 0 #555,8px 0 #555;-webkit-transform:translateX(-8px);transform:translateX(-8px)}}
            @keyframes text-shadow-pop-right{0%{text-shadow:0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555;-webkit-transform:translateX(0);transform:translateX(0)}100%{text-shadow:1px 0 #555,2px 0 #555,3px 0 #555,4px 0 #555,5px 0 #555,6px 0 #555,7px 0 #555,8px 0 #555;-webkit-transform:translateX(-8px);transform:translateX(-8px)}}
            }

            @include mobile {
                padding: 0;
                gap: .5rem;
            }

        & .form-colum {
            border-radius: .3rem;
            border: 1px solid black;
            height: 2.5rem;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: .8rem;
            padding-left: .5rem;
        }
    }

    & h2 {
        font-family: $OpenSans;
        font-size: 1.5rem;
        color: $ColorPricipal;
        text-align: start;

            @include mobile {
                font-size: 1rem;
            }
    }

    .btn {
        width: max-content;
        background-color: #252424;
        color: $ColorPricipal;
        border: 1px solid white;
        font-size: .9rem;

        &:hover {
            background-color: white;
            color: black;
            border: 2px solid black;
            text-transform:uppercase;
        }
    }
}

