/* ---------------------------------------------------FOOTER-------------------------------------------------- */
.footer-principal {
    margin-top: 0rem;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 7rem 0rem 5rem 6rem;

            @include mobile {
                margin: 0rem;
                padding-top: 11rem;
            }

        & p {
            font-style: oblique;
        }

        .imagen {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px 130px;

                @include mobile {
                    margin: 2px 54px;
                    margin-inline: 2.5rem;
                    width: 4rem;
                }
        }
        
        .descripcion {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            font-family: $OpenSans;
            color: $ColorPricipal;
            font-family: 'Open Sans';

                @include mobile {
                    font-size: .5rem;
                }
        }
    }
}

.footer-secundario {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-inline: 0px;
    padding-block: 10px;

    .footer-menu {
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;

        & a {
            color: $ColorPricipal;
            text-decoration: none;
        }
    }

    .redes {
        padding: 0rem;

            @include mobile {
                display: flex;
                padding-left: 0rem;
            }

            li {
                display: inline-block;

                    @include mobile {
                        font-size: 1.3rem;
                    }
            }

            & a {
                padding: 10px;

                & img {
                    justify-content: center;
                    width: 25px;
                    height: 25px;
                }
            }
        }
}

.footer-pagos {
    padding: 5px;
    width: 50px;
    height: 40px;
    margin-bottom: 50px;
}