.body__productos{
    background-color: $FondoProductos;
}

header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-inline: 4rem;

    .titulo__marca {
        display: flex;
        align-items: center;

        .logo {
            font-family: $NotoSerif;
            color: $ColorPricipal;
        }

        .logo__simbolo {
            font-size: 1rem;    
        }

        .logo__indum {
            font-family: $OpenSans;
            font:caption;
            font-size: 1.8rem;
        }

        .logo__img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
    
    .nav__menu {
        display: flex;
        gap: 3rem;
        margin-bottom: 0rem;
        letter-spacing: .2rem;

        > li {
            display: flex;
            align-items: center;
            max-width: max-content;

            &:hover {
                background-color: #887979;
                box-shadow: 2px 2px 8px $ColorPricipal inset;
            }
        }

        & a {
            text-decoration: none;
            color: #f5b4b4;
            font-family: $OpenSans;
            text-shadow: 1px 1px 1px #f74141;
        }

        .active {
            background-color: #887979;
            box-shadow: 2px 2px 8px $ColorPricipal inset;
        }

        .navbar__item {
            list-style-type: none;

            .active {
                background-color: #887979;
                box-shadow: 2px 2px 8px $ColorPricipal inset;
            }
        }
    }  
}
