/* --------------------------------------------BARRA DE NAVEGACION--------------------------------------------- */
.body__productos{
    background-color: $FondoProductos;
}

header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-inline: 4rem;

        @include mobile {
            display: grid;
            padding-left: 2rem;
        }

    .titulo__marca {
        display: flex;
        align-items: center;

            @include mobile {
                display: flex;
                padding-top: 1rem;            
            }

        .logo {
            font-family: $NotoSerif;
            color: $ColorPricipal;

                @include mobile {
                    font-size: 1.2rem;        
                    font-style: oblique;
                }
        }

        .logo__simbolo {
            font-size: 1rem;    
        }

        .logo__indum {
            font-family: $OpenSans;
            font:caption;
            font-size: 1.8rem;

                @include mobile {
                    font-size: 1.2rem;
                    font-style: oblique;
                }
        }

        .logo__img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }
    
    .nav__menu {
        display: flex;
        gap: 3rem;
        margin-bottom: 0rem;
        letter-spacing: .2rem;

            &:hover a {
                filter: blur(1px);
            } 

            @include mobile {
                letter-spacing: 0rem;
                padding-inline: 0rem;
                gap: 1rem;
            }

        > li {
            display: flex;
            align-items: center;
            max-width: max-content;
        }

        & a {
            text-decoration: none;
            color: #f5b4b4;
            font-family: $OpenSans;
            box-shadow: 1px 1px;
            padding-inline: .3rem;
            border-radius: 10% 10px 10px 10px;

            &:hover {
                transform: translateY(-3px) scale(1.05);
                filter: none;
            }
        }

        .active {
            border-bottom: 5px solid red;
            box-shadow: 1px 4px 8px  red;
            border-radius: 20px;
        }

        .navbar__item {
            list-style-type: none;

                @include mobile {
                    font-size: 0.80rem;
                }

            .active {
                background-color: #887979;
                box-shadow: 2px 2px 8px $ColorPricipal inset;
            }
        }
    }

    .navegacion {

        @include mobile {
            padding-top: .5rem;
        }
    }
}

 