/* -------------------------------------------------PAGINA INICIAL------------------------------------------------ */
body {
    background-color: black;
}
    
.home {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "logo  productos  giftcard"
        "logo  nosotros   contactos";

            @include mobile {
                display: flex;
                flex-direction: column;
                max-height: max-content;
                height: 100vh;
            }

    .home__img {
        gap: 20rem;
        border:groove 5px #7e7c7a;
        border-radius: 2%;
        font-family: $NotoMakasar;
        font-size: 20px;
        text-shadow: 0 0 10px #e58f8f;   
        grid-area: logo;
        background-image: url(../Img/Logo.jpg);
        background-color: #443f3f;
        background-blend-mode:color-burn;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &.scale-up-hor-center{
            -webkit-animation:scale-up-hor-center .5s;animation:scale-up-hor-center .5s;
            @-webkit-keyframes scale-up-hor-center{0%{-webkit-transform:scaleX(.4);transform:scaleX(.4)}100%{-webkit-transform:scaleX(1);transform:scaleX(1)}}@keyframes scale-up-hor-center{0%{-webkit-transform:scaleX(.4);transform:scaleX(.4)}100%{-webkit-transform:scaleX(1);transform:scaleX(1)}}
        }

            @include mobile {
                display: flex;
                justify-content:end;
                gap: 0rem;
                flex: 1.5;  
                border: solid 1px #7e7c7a;
            
        & p {
            @include mobile {
                font-size: 15px;
            }
        }
    }
}
    a {
        border:groove 5px #7e7c7a;
        border-radius: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        &:hover {
            transform: translate(-10px);
            transition: 0.6s;
            box-shadow: 5px 5px 20px 5px #c94343;
            border:solid white;
        }

            @include mobile {
                border: solid 1px black;
                border-radius: 15px;
            }
        }

        .home__productos {
            grid-area: productos;
            color: #f5b4b4;
            font-family: $OpenSans;
            text-shadow: 14px 10px 7px #f74141;
            font-size: 20px;
            letter-spacing: 4px;
            background-color: #141414;
            background-image: url(../Img/IMGProductos.png);
            background-position: center;
            background-repeat: no-repeat;

            &.scale-in-ver-center1{
                -webkit-animation:scale-in-ver-center .3s cubic-bezier(.25,.46,.45,.94) both;animation:scale-in-ver-center .3s cubic-bezier(.25,.46,.45,.94) both;

                @-webkit-keyframes scale-in-ver-center{0%{-webkit-transform:scaleY(0);transform:scaleY(0);opacity:1}100%{-webkit-transform:scaleY(1);transform:scaleY(1);opacity:1}}@keyframes scale-in-ver-center{0%{-webkit-transform:scaleY(0);transform:scaleY(0);opacity:1}100%{-webkit-transform:scaleY(1);transform:scaleY(1);opacity:1}}    
            }

            @include mobile {
                flex: 1;
            }
        }

        .home__giftcard {
            @extend .home__productos;
            grid-area: giftcard;
            background-color: $FondoGiftcard;
            background-image: url(../Img/IMGGiftcard.png);

            &.scale-in-ver-center2{
                -webkit-animation:scale-in-ver-center .5s cubic-bezier(.25,.46,.45,.94) both;animation:scale-in-ver-center .5s cubic-bezier(.25,.46,.45,.94) both;

                @-webkit-keyframes scale-in-ver-center{0%{-webkit-transform:scaleY(0);transform:scaleY(0);opacity:1}100%{-webkit-transform:scaleY(1);transform:scaleY(1);opacity:1}}@keyframes scale-in-ver-center{0%{-webkit-transform:scaleY(0);transform:scaleY(0);opacity:1}100%{-webkit-transform:scaleY(1);transform:scaleY(1);opacity:1}}            
            }

            @include mobile{
                flex: 1;}
        }

        .home__nosotros {
            @extend .home__productos;
            grid-area: nosotros;
            background-color: $FondoNosotros;
            background-image: url(../Img/IMGQuienSoy.png);

            &.scale-in-ver-center3{
                -webkit-animation:scale-in-ver-center .7s cubic-bezier(.25,.46,.45,.94) both;animation:scale-in-ver-center .7s cubic-bezier(.25,.46,.45,.94) both;

                @-webkit-keyframes scale-in-ver-center{0%{-webkit-transform:scaleY(0);transform:scaleY(0);opacity:1}100%{-webkit-transform:scaleY(1);transform:scaleY(1);opacity:1}}@keyframes scale-in-ver-center{0%{-webkit-transform:scaleY(0);transform:scaleY(0);opacity:1}100%{-webkit-transform:scaleY(1);transform:scaleY(1);opacity:1}}            
            }

            @include mobile{
                flex: 1;}
        }

        .home__contacto {
            @extend .home__productos;
            grid-area: contactos;
            background-color: $FondoContacto;
            background-image: url(../Img/email.png);

            &.scale-in-ver-center4{
                -webkit-animation:scale-in-ver-center .8s cubic-bezier(.25,.46,.45,.94) both;animation:scale-in-ver-center .8s cubic-bezier(.25,.46,.45,.94) both;

                @-webkit-keyframes scale-in-ver-center{0%{-webkit-transform:scaleY(0);transform:scaleY(0);opacity:1}100%{-webkit-transform:scaleY(1);transform:scaleY(1);opacity:1}}@keyframes scale-in-ver-center{0%{-webkit-transform:scaleY(0);transform:scaleY(0);opacity:1}100%{-webkit-transform:scaleY(1);transform:scaleY(1);opacity:1}}            
            }

            @include mobile{
                flex: 1;}
        }       
}