/* ---------------------------------------------PAGINA NOSOTROS---------------------------------------------- */
.body__nosotros {
    background-color: $FondoNosotros;
}

.conteiner__nosotros {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-inline: 5rem;
    height: 100vh;

        @include mobile {
            display: grid;
            padding-inline: 0rem;
        }
    
    .img__nosotros {
        @include mobile {
            width: 40%;
            padding-top: 2rem;
        }
    }
}

.contenido__principal {
    padding: 3rem;
    padding-top: 10rem;

        @include mobile {
            padding-top: 0;
        }

    .titulo__nosotros {
        color: $ColorPricipal;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: .5rem;
        text-decoration: underline 1px solid $ColorPricipal;
        font-size: 3rem;
        font-family: $OpenSans;

            @include mobile {
                font-size: 2rem;
            }
    }
    
    .parrafo__nosotros {
        color: $ColorPricipal;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 1.05rem;
        font-family: $NotoSerif;
        margin-bottom: 5rem;

            @include mobile {
                font-size: .8rem;
                margin: 0;
            }
    }
}