/* ---------------------------------------------PAGINA NOSOTROS---------------------------------------------- */
.body__nosotros {
    background: rgb(157,87,87);
    background: linear-gradient(166deg, rgba(157,87,87,1) 0%, rgba(38,35,35,1) 38%, rgba(74,74,74,1) 61%);
    }

.conteiner__nosotros {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-inline: 5rem;
    height: 100vh;

        @include mobile {
            display: grid;
            padding-inline: 0rem;
        }
    
    .img__nosotros {
        @include mobile {
            width: 40%;
            padding-top: 2rem;
        }
    }
}

.contenido__principal {
    padding: 3rem;
    padding-top: 10rem;

        @include mobile {
            padding-top: 0;
        }

    .titulo__nosotros {
        color: $ColorPricipal;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: .5rem;
        text-decoration: underline 1px solid $ColorPricipal;
        font-size: 3rem;
        font-family: $OpenSans;

        &.text-shadow-pop-right{
            -webkit-animation:text-shadow-pop-right 3s infinite alternate-reverse forwards;animation:text-shadow-pop-right 3s infinite alternate-reverse forwards;
        
            @-webkit-keyframes text-shadow-pop-right{0%{text-shadow:0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555;-webkit-transform:translateX(0);transform:translateX(0)}100%{text-shadow:1px 0 #555,2px 0 #555,3px 0 #555,4px 0 #555,5px 0 #555,6px 0 #555,7px 0 #555,8px 0 #555;-webkit-transform:translateX(-8px);transform:translateX(-8px)}}
            @keyframes text-shadow-pop-right{0%{text-shadow:0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555,0 0 #555;-webkit-transform:translateX(0);transform:translateX(0)}100%{text-shadow:1px 0 #555,2px 0 #555,3px 0 #555,4px 0 #555,5px 0 #555,6px 0 #555,7px 0 #555,8px 0 #555;-webkit-transform:translateX(-8px);transform:translateX(-8px)}}
            }
        }

            @include mobile {
                font-size: 2rem;
            }
    
    
    .parrafo__nosotros {
        color: $ColorPricipal;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 1.05rem;
        font-family: $NotoSerif;
        margin-bottom: 5rem;

            @include mobile {
                font-size: .8rem;
                margin: 0;
            }
    }
}