/* ---------------------------------------------PAGINA PRODUCTOS---------------------------------------------- */
.body__productos {
    background: rgb(32,36,32);
    background: radial-gradient(circle, rgba(32,36,32,1) 4%, rgba(107,81,81,1) 47%, rgba(0,0,0,1) 93%);
}

.buzos {
    color: red;
    text-shadow: 10px 0px 50px  #ffffff;
    font-family: $NotoSerif;
    font-size:xx-large;
    padding-top: 5rem;
    padding-inline: 15rem;

        @include mobile {
            padding-left: 3rem;
            font-size: 1rem;
        }
}

.pantalones {
    color: red;
    text-shadow: 10px 0px 50px  #ffffff;
    font-family: $NotoSerif;
    font-size:xx-large;
    padding-top: 7rem;
    padding-inline: 15rem;

        @include mobile {
            font-size: 1rem;
            padding: 0.5rem 3rem 0rem 3rem;
        }
}

main {
    .card {
        background-color: #802c2c;
        border: .05rem solid white;

            @include mobile {
                width: 13rem;
            }

        .card-text {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $NotoSerif;
            color: white;

                @include mobile {
                    font-size: 0.8rem;
                }
        }
        
        .card-text1 {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $OpenSans;
            font-size: .8rem;
            color: white;
        }
        
        .card-img-top {
            padding: .3rem;
        }

        .slide-in-blurred-top{-webkit-animation:slide-in-blurred-top .6s cubic-bezier(.23,1.000,.32,1.000) both;animation:slide-in-blurred-top .6s cubic-bezier(.23,1.000,.32,1.000) both;
            @-webkit-keyframes slide-in-blurred-top{0%{-webkit-transform:translateY(-1000px) scaleY(2.5) scaleX(.2);transform:translateY(-1000px) scaleY(2.5) scaleX(.2);-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateY(0) scaleY(1) scaleX(1);transform:translateY(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}
            @keyframes slide-in-blurred-top{0%{-webkit-transform:translateY(-1000px) scaleY(2.5) scaleX(.2);transform:translateY(-1000px) scaleY(2.5) scaleX(.2);-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateY(0) scaleY(1) scaleX(1);transform:translateY(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}}
    
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        "img1 img2 img3 img4 vermas";
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    justify-content: center;

        @include mobile {
            display: grid;
            grid-template-columns: .5fr 1fr;
            grid-template-rows: 1fr 1fr .3fr;
            grid-template-areas:
            "img1   img2"
            "img3   img4"
            "vermas vermas";
            padding-inline: 2rem;
        }

    .img1 {
        grid-area: img1;

            @include mobile {
                grid-area: img1;
                padding: 0rem;
            }
    }
    
    .img2 {
        grid-area: img2;

        @include mobile {
            grid-area: img2;
            padding: 0rem;
        }
    }
    
    .img3 {
        grid-area: img3;

        @include mobile {
            grid-area: img3;
            padding: 0rem;
        }
    }
    
    .img4 {
        grid-area: img4;

        @include mobile {
            grid-area: img4;
            padding: 0rem;
        }
    }
    
    .button {

        @include mobile {
            grid-area: vermas;
            display: flex;
        }

        a {
            grid-area: vermas;
            color: red;
            border: .5px solid #000000;
            border-radius: 5rem;
            box-shadow: 1px 1px 1px white;
            text-shadow: 2px 1px 1px #000000;   
            text-align: center;
            font-family: $NotoSerif;
            padding-inline: 1.5rem;
            text-decoration: none;
        }
    }
}

.remeras {
    display: flex;
    text-align: end;
    justify-content: end;
    color: red;
    text-shadow: 10px 0px 50px #ffffff;
    font-family: $NotoSerif;
    font-size:xx-large;
    padding-top: 7rem;
    padding-inline: 15rem;

        @include mobile {
            font-size: 1rem;
            padding: 0.5rem 3rem 0rem 0rem;
        }
}

.cards__remeras {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        "vermas img5 img6 img7 img8";
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    justify-content: center;

     @include mobile {
        display: grid;
        grid-template-columns: .5fr 1fr;
        grid-template-rows: 1fr 1fr .3fr;
        grid-template-areas:
        "img5   img6"
        "img7   img8"
        "vermas vermas";
        padding-inline: 2rem;
        max-width: max-content;
    }

    .img5 {
        grid-area: img5;

            @include mobile {
                grid-area: img5;
                padding: 0rem;
            }
    }
    
    .img6 {
        grid-area: img6;

        @include mobile {
            grid-area: img6;
            padding: 0rem;
        }
    }
    
    .img7 {
        grid-area: img7;

        @include mobile {
            grid-area: img7;
            padding: 0rem;
        }
    }
    
    .img8 {
        grid-area: img8;

        @include mobile {
            grid-area: img8;
            padding: 0rem;
        }
    }
    
    .button__remeras {
        text-align: end;

            @include mobile {
                grid-area: vermas;
                display: flex;
            }

        a {
            grid-area: vermas;
            color: red;
            height: 2rem;
            border: .5px solid #000000;
            border-radius: 5rem;
            box-shadow: 1px 1px 1px white;
            text-shadow: 2px 1px 1px #000000;    
            text-align: center;
            font-family: $NotoSerif;
            padding-inline: 1.5rem;
            text-decoration: none;
        }
    }
}


 


 