@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Makasar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');

$NotoMakasar: 'Noto Serif Makasar', serif;
$OpenSans:'Open Sans', sans-serif;
$NotoSerif: 'Noto Serif', serif;

$ColorPricipal: white;

$FondoProductos: #050505;
$FondoGiftcard: #202020;
$FondoNosotros: #2c2b2b;
$FondoContacto: #3f3e3e;
